<div class="container color-dark">
  <div class="col">
    <p>Add an Item</p>
  </div>
  <div class="col">
    <p>Your List</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p>Use this form to add new item</p>
    
    <form action="">
      <input type="text" class="txt" name="item" id="" placeholder="Enter the item here">
      <input type="submit" class="btn" value="Add Item">
    </form>
  </div>
  <div class="col">
    <p class="life-container">Apples</p>
  </div>
</div>